* {
    padding: 0;
    margin: 0;
}

body {
    background: #000 no-repeat;
}

h1, h2, h3 {
    text-align: center;
    color: #FFF;
    margin: 5px 0;
}

h1 {
    font-size: 30px;
}

h2 a {
    font-size: 25px;
    color: #0184e3;
    text-decoration: none;
}

h3 {
    font-size: 23px;
    border-bottom: solid 3px #CCC;
    padding-bottom: 10px;
}

h3 a {
    color: #00e8ff;
    text-decoration: none;
}

h3 a:hover, h2 a:hover {
    text-decoration: underline;
}

.container {
    width: 800px;
    margin: auto;
    color: #FFF;
    font-size: 25px;
}

.container #content {
    border: dashed 2px #CCC;
    padding: 10px;
}

#reset {
    padding: 5px 10px;
    background: #4CAF50;
    border: none;
    color: #FFF;
    cursor: pointer;
}

#reset:hover {
    color: #4CAF50;
    background: #FFF;
}

#viewContent {
    padding-left: 20px;
}

#viewContent select, #viewContent button {
    color: #000;
    font-size: 25px;
}

#viewContent h4 {
    margin: 10px 0;
}

#viewContent .textAlignCenter {
    text-align: center;
}

#viewContent .textAlignCenter img {
    display: none;
    width: 100px;
}

#viewContent #message table {
    width: 100%;
}

#viewContent #message table th {
    text-align: left;
    text-decoration: underline;
}